/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

& #zen-sidebar-top-buttons:has(#zen-sidebar-top-buttons-customization-target:empty) {
  max-height: 0 !important;
  min-height: 0 !important;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}
