height: var(--zen-toolbar-height);

@media (-moz-bool-pref: 'zen.view.hide-window-controls') {
  & {
    transition: height 0.2s ease, opacity 0.2s ease-out;
    transition-delay: 0.05s;

    & > * {
      transition: transform 0.2s ease-out;
    }
  }

  &:not([zen-has-hover='true']):not([has-popup-menu]):not(:focus-within) {
    height: var(--zen-element-separation);
    overflow: hidden;
    opacity: 0;
    & > * {
      transform: translateY(-100%);
      pointer-events: none;
    }
  }
}

:root[inDOMFullscreen='true'] & {
  max-height: 0;
  min-height: unset !important;
  opacity: 0;
  pointer-events: none;
}
