:root:not([inDOMFullscreen='true']):not([chromehidden~='location']):not([chromehidden~='toolbar']) {
  & #tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer {
    width: -moz-available;
    border-radius: var(--zen-webview-border-radius, var(--zen-border-radius));
    position: relative;

    /* For glance */
    transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;

    box-shadow: 0 0 1px 1px light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
    overflow: hidden;
    margin: 1px;

    :root[zen-right-side='true'] & {
      margin-left: var(--zen-element-separation);
    }

    :root[zen-no-padding='true'] &:not([zen-split="true"]) {
      border-radius: 0 !important;
    }
  }
  
  @media (-moz-bool-pref: 'zen.view.experimental-rounded-view') {
    #tabbrowser-tabpanels {
      mix-blend-mode: multiply;
      -moz-osx-font-smoothing: grayscale;
      isolation: isolate;
    }
  }
}
