:root:not([inDOMFullscreen='true']):not([chromehidden~='location']):not([chromehidden~='toolbar']) {
  & #tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer {
    width: -moz-available;
    border-radius: var(--zen-webview-border-radius, var(--zen-border-radius));
    position: relative;

    box-shadow: 0 0 1px 1px light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
    overflow: hidden;
    margin: 1px;
    
    :root[zen-right-side='true'] & {
      margin-right: 0;
      margin-left: var(--zen-element-separation);
    }

    :root[zen-no-padding='true'] &:not([zen-split="true"]) {
      border-radius: 0 !important;
    }
  }
}
