
#zen-rice-share-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: var(--zen-dialog-background);
  z-index: 1;
  cursor: pointer;
}

#zen-rice-share-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--panel-color);
  background: var(--arrowpanel-background);
  border-radius: var(--zen-panel-radius);
  box-shadow: 0 0 1px 1px hsla(0,0%,0%,.2);;
  border: var(--zen-appcontent-border);
  overflow: hidden;

  animation: zen-jello-animation-with-translate 0.3s ease;
  max-width: 400px;

  & .zen-rice-share-content {
    padding: 10px;
    padding-top: 20px;
    border-top: var(--zen-appcontent-border);
    background: var(--arrowpanel-background);

    & input[type="text"] {
      width: 100%;
      padding: 1px 2px;
      border: 0;
      border-bottom: 1px solid var(--zen-appcontent-border);
      background: transparent;
      font-style: italic;
      font-weight: 600;
    }

    & #zen-rice-share-name {
      font-style: normal;
      font-size: 24px;
      margin-left: 1px;
    }

    & .indent {
      margin-left: 30px;
    }
  }

  & .zen-rice-share-header {
    height: 200px;
    margin-bottom: -20px;
  }

  & #zen-rice-share-options {
    padding: 10px 0;

    max-height: 30px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    &[zen-collapsed="false"] {
      max-height: 350px;
    }

    & > .options-header {
      font-weight: 600;
      margin-bottom: 5px;
      position: relative;
      cursor: pointer;
      align-items: center;

      color: inherit;
      -moz-context-properties: fill, fill-opacity;
      fill: var(--toolbarbutton-icon-fill);

      & label {
        width: fit-content;
        cursor: pointer;
      }
    }

    & > .options-header image {
      transition: transform 0.3s ease;
      width: 15px;
      height: 15px;
    }

    &[zen-collapsed="false"] > .options-header image {
      transform: rotate(90deg);
    }

    & > checkbox {
      margin-left: 15px;
    }
  }

  & .panel-footer {
    margin: 0;
    margin-top: 10px;

    & button {
      justify-content: center;
    }
  }
}
