
:root:not([inDOMFullscreen='true']):not([chromehidden~='location']):not([chromehidden~='toolbar']) {
  & #zen-appcontent-wrapper {
    box-shadow: 0 0 1px 1px light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
    border-radius: var(--zen-border-radius);
    padding: 0;
    overflow: hidden;
    margin: var(--zen-element-separation);
    margin-left: 0;
    
    #browser:has(#navigator-toolbox[zen-right-side='true']) & {
      margin-right: 0;
      margin-left: var(--zen-element-separation);
    }

    & #zen-appcontent-navbar-container {
      background: color-mix(in srgb, var(--zen-colors-tertiary) 90%, transparent 10%);
    }
  }

  & #zen-appcontent-navbar-container {
    padding-left: 5px;
  }

  @media (-moz-platform: macos) {
    & #zen-appcontent-navbar-container {
      padding-right: 5px;
    }
  }

  & #zen-appcontent-navbar-container {
    border-bottom: 1px solid light-dark(rgba(0,0,0,.04), rgba(255,255,255,.04));
  }

  @media (-moz-bool-pref: 'zen.view.compact') {
    @media (-moz-bool-pref: 'zen.view.compact.hide-toolbar') {
      @media not (-moz-platform: macos) {
      }
    }
  }
}
