
#zen-glance-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background: color-mix(in srgb, var(--zen-colors-tertiary) 20%, transparent 80%);
  backdrop-filter: blur(3px);
  animation: zen-glance-overlay-animation 0.2s ease-in-out forwards;
  border-radius: var(--zen-border-radius);

  &[hidden='true'] {
    display: none;
  }
}
