
#zen-profile-button {
  & stack {
    padding: 0;
  }

  & .toolbarbutton-badge {
    display: none !important;
  }

  & stack {
    width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
    height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
    display: flex;
    justify-content: center;
    align-items: center;

    & > image {
      width: 0;
    }
  }

  & #zen-profile-button-icon {
    width: 16px;
    height: 16px;
    list-style-image: var(--avatar-image-url);
    border-radius: 50%;
    pointer-events: none;
    list-style-image: var(--avatar-image-url);
    -moz-context-properties: fill;
    fill: currentColor;
  }
}

/*#zen-profile-button::before {
  background: transparent;
  border-radius: 50%;
  border: 3px solid var(--zen-colors-border);
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(2 * var(--toolbarbutton-inner-padding) + 16px - 8px - var(--toolbarbutton-inner-padding));
  height: calc(2 * var(--toolbarbutton-inner-padding) + 16px - 8px - var(--toolbarbutton-inner-padding));
}*/

/* Bookmarks sidebar */
#zen-tabbox-wrapper {
  & #sidebar-splitter {
    opacity: 0;
    margin-inline-end: -4px;
  }

  & #sidebar-box {
    border-radius: var(--zen-border-radius);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: var(--zen-element-separation);
    overflow: hidden;
    border: 1px solid var(--zen-colors-border);

    :root:has(#navigator-toolbox:not([zen-right-side='true'])) &[positionend='true'] {
      margin-right: var(--zen-element-separation);
    }

    :root:has(#navigator-toolbox[zen-right-side='true']) & {
      margin-left: var(--zen-element-separation);
    }
  }
}

/* Menubar */
#toolbar-menubar {
  display: none !important;
}

/* Essentials styles */
#EssentialsToolbar {
  border-bottom: 1px solid var(--zen-colors-border);
  padding-bottom: 6px;
  & .bookmark-item {
    max-width: unset;
    padding: 8px;
    gap: 8px;

    & .toolbarbutton-icon {
      width: 20px;
      height: 20px;
    }
  }
  overflow: hidden;
}

#essentials-accordion-header {
  display: flex;
  align-items: center;
  justify-content: start;
  background: none !important;
  border: none !important;
  appearance: unset !important;
  padding: 4px 8px;
  gap: 6px;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}

.accordion-header-line {
  flex: 1;
  height: 1px;
  width: 100%;
  background-color: currentColor;
}

#essentials-accordion-header[expanded] #essentials-accordion-icon image {
  transform: rotate(90deg);
}

#essentials-accordion-icon {
  width: 12px;
  height: 12px;
  appearance: none !important;

  color:inherit !important;
  -moz-context-properties: fill, fill-opacity !important;
  fill: currentColor !important;
  & image {

    color: inherit !important;
    list-style-image: url("chrome://global/skin/icons/chevron.svg") !important;
    transition: transform 0.3s ease;
    appearance: unset !important;
  }
}

#EssentialsToolbarItems {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  padding: 0 4px;
  opacity: 0;
}

#EssentialsToolbarItems[expanded] {
  opacity: 1;
}

#EssentialsToolbarItems .bookmark-item {
  max-width: unset;
}
