:root:not([inDOMFullscreen='true']):not([chromehidden~='location']):not([chromehidden~='toolbar']) {
  & #tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer {
    width: -moz-available;
    border-radius: var(--zen-webview-border-radius, var(--zen-border-radius));
    position: relative;

    box-shadow: 0 0 1px 1px light-dark(rgba(0, 0, 0, 0.1), var(--zen-colors-border));
    & .browserContainer {
      overflow: hidden;
      border-radius: var(--zen-webview-border-radius, var(--zen-border-radius));
    }

    @media (-moz-bool-pref: 'zen.view.experimental-rounded-view') {
      &.deck-selected .browserContainer {
        mix-blend-mode: multiply;
      }
    }
  }
}
