
#PanelUI-zen-gradient-generator {
  --panel-width: 300px;
  --panel-padding: 10px;
  min-width: var(--panel-width);
}

#PanelUI-zen-gradient-degrees {
  position: relative;
  border-radius: 999px;
  min-height: 50px;
  min-width: 50px;
  max-height: 50px;
  max-width: 50px;
  border: 3px solid var(--zen-primary-color);
  display: flex;
  justify-items: center;
  align-items: center;
  z-index: 1;

  & .dot {
    position: absolute;
    z-index: 2;
    /* +3 because of the border */
    width: 53px;
    height: 53px;
    top: -3px;
    left: -3px;

    &::after {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: var(--zen-colors-tertiary);
      box-shadow: 0 0 0 2px var(--zen-themed-toolbar-bg);
      cursor: grab;
      content: '';
      position: absolute;
      bottom: 2px;
      right: 0;
      border: 2px solid var(--zen-colors-border);
      transition: transform .2s;
    }

    &[dragging='true']::after {
      transform: scale(1.2);
    }
  }

  & .text {
    margin: 0 auto;
  }
}

#PanelUI-zen-gradient-generator-controls {
  padding-right: var(--panel-padding);
  align-items: center;
  gap: var(--panel-padding);
  border-bottom: 1px solid color-mix(in srgb, var(--zen-colors-border) 50%, transparent 50%);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

#zen-theme-picker-color {
  align-items: start;
  width: 100%;

  & label {
    font-size: 12px;
    margin-left: 0;
    font-weight: 600;
    margin-bottom: 5px;
  }

  & input,
  & > hbox {
    width: 100%;
    position: relative;
  }
}

#PanelUI-zen-gradient-generator-custom-input {
  position: relative;
}

#PanelUI-zen-gradient-generator-color-custom-add {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

#PanelUI-zen-gradient-colors-wrapper {
  & label {
    font-size: 12px;
    margin-left: 0;
    font-weight: 600;
  }

  gap: 10px;
}

#PanelUI-zen-gradient-generator-options {
  align-items: center;
  margin: auto;
  height: 100%;
  justify-content: center;
}

#PanelUI-zen-gradient-generator-custom-list {
  margin-top: 15px;

  &:not(:has(.zen-theme-picker-custom-list-item)) {
    display: none;
  }

  & .zen-theme-picker-custom-list-item {
    display: flex;
    padding: 5px;
    position: relative;

    & .zen-theme-picker-dot-custom {
      background: var(--zen-theme-picker-dot-color);
      border: 1px solid var(--zen-colors-border);
      border-radius: 5px;
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    & .zen-theme-picker-custom-list-item-label {
      font-size: 12px;
      font-weight: 600;
      margin: 0;
      display: flex;
      align-items: center;
    }

    & .zen-theme-picker-custom-list-item-remove {
      padding: 2px 4px !important;
      margin: 0 !important;
      margin-left: auto !important;
      transition: opacity .1s;
      opacity: 0;
    }

    &:hover .zen-theme-picker-custom-list-item-remove {
      opacity: 1;
    }
  }
}

#PanelUI-zen-gradient-generator-opacity,
#PanelUI-zen-gradient-generator-texture {
  margin: 0 !important;
  background: transparent;

  &::-moz-range-thumb {
    background: var(--zen-colors-tertiary);
    border: 2px solid var(--zen-colors-border);
    border-radius: 50%;
    height: 13px;
    width: 13px;
  }

  &::-moz-range-track {
    background: var(--zen-colors-border);
    border-radius: 999px;
    height: 4px;
  }

  &::-moz-range-progress {
    background: var(--zen-primary-color);
    border-radius: 999px;
    height: 4px;
  }
}

.zen-theme-picker-gradient {
  position: relative;
  border-radius: calc(var(--zen-border-radius) + 5px);
  overflow: hidden;
  border: 1px solid var(--zen-colors-border);

  min-height: calc(var(--panel-width) - var(--panel-padding) * 2);
  min-width: calc(var(--panel-width) - var(--panel-padding) * 2);

  margin-bottom: 15px;

  background: var(--zen-theme-picker-gradient-image) center center / cover no-repeat;

  &::before {
    background: light-dark(
      color-mix(in srgb, var(--zen-themed-toolbar-bg) 60%, transparent 40%),
      color-mix(in srgb, var(--zen-themed-toolbar-bg) 80%, transparent 20%)
    );
    backdrop-filter: blur(5px);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    margin: var(--panel-padding);
    box-shadow: 0 0 0 1px 1px var(--zen-colors-border);
    width: calc(100% - var(--panel-padding) * 2);
    height: calc(100% - var(--panel-padding) * 2);
    border-radius: var(--zen-border-radius);
  }

  &::after {
    z-index: 0;
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to right, var(--zen-primary-color) 1px, transparent 1px),
      linear-gradient(to bottom, var(--zen-primary-color) 1px, transparent 1px);
    background-size: 24px 24px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin: var(--panel-padding);
    width: calc(100% - var(--panel-padding) * 2);
    height: calc(100% - var(--panel-padding) * 2);
    opacity: 0.1;
  }

  & .zen-theme-picker-dot {
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--zen-theme-picker-dot-color);
    box-shadow: 0 0 0 2px var(--zen-themed-toolbar-bg);
    cursor: pointer;
    border: 2px solid #fff;
    animation: zen-theme-picker-dot-animation .5s;
    transition: transform .2s;
    transform: translate(-50%, -50%);

    &[dragging='true'] {
      transform: scale(1.2) translate(-50%, -50%) !important;
    }
  }
}
