name: macOS Release Build

on:
  workflow_call:
    inputs:
      build-version:
        description: 'The version to build'
        required: true
        type: string
      release-branch:
        description: 'The branch to build'
        required: true
        type: string

jobs:
  mac-build:
    name: Build macOS - ${{ matrix.arch }}
    runs-on: macos-14

    strategy:
      fail-fast: false
      matrix:
        arch: [x86_64, aarch64]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.DEPLOY_KEY }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Setup Python
        uses: actions/setup-python@v5
        # note: This will use the version defined in '.python-version' by default

      - name: Setup Git
        run: |
          git config --global user.email "mauro-balades@users.noreply.github.com"
          git config --global user.name "mauro-balades"

      - name: Install system dependencies
        run: |
          brew update
          brew install cairo sccache gnu-tar mercurial
          sudo pip install setuptools

          brew uninstall --ignore-dependencies python3.12 -f

          export PATH="$(python3 -m site --user-base)/bin":$PATH
          python3 -m pip install --user mercurial

          rm '/usr/local/bin/2to3-3.11' '/usr/local/bin/2to3-3.12' '/usr/local/bin/2to3'
          rm '/usr/local/bin/idle3.11' '/usr/local/bin/idle3.12' '/usr/local/bin/idle3'
          rm '/usr/local/bin/pydoc3.11' '/usr/local/bin/pydoc3.12' '/usr/local/bin/pydoc3'
          rm '/usr/local/bin/python3.11' '/usr/local/bin/python3.12' '/usr/local/bin/python3'
          rm '/usr/local/bin/python3.11-config' '/usr/local/bin/python3.12-config' '/usr/local/bin/python3-config'

          brew install watchman

          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain 1.79
          source $HOME/.cargo/env

          if test "${{ matrix.arch }}" = "aarch64"; then
            rustup target add aarch64-apple-darwin
          else
            rustup target add x86_64-apple-darwin
          fi

      - name: Force usage of gnu-tar
        run: |
          echo 'export PATH="/usr/local/opt/gnu-tar/libexec/gnubin:$PATH"' >> ~/.bash_profile
          echo 'export PATH="/usr/local/opt/gnu-tar/libexec/gnubin:$PATH"' >> ~/.zsh
          source ~/.bash_profile

      - name: Setup pnpm
        run: npm install -g pnpm

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: Install dependencies
        run: |
          pnpm install

      - name: Load surfer CI setup
        run: pnpm surfer ci --brand ${{ inputs.release-branch }} --display-version ${{ inputs.build-version }}

      - name: Download Firefox source and dependencies
        run: pnpm surfer download

      - name: Bootstrap
        run: |
          cd engine
          export SURFER_PLATFORM="darwin"
          export PATH="$(python3 -m site --user-base)/bin":$PATH
          ./mach --no-interactive bootstrap --application-choice browser --no-system-changes
          cd ..

      - name: Import
        env:
          SURFER_COMPAT: ${{ matrix.arch }}
        run: pnpm surfer import --verbose

      - name: Build language packs
        run: sh scripts/download-language-packs.sh

      - name: Build Zen
        env:
          SURFER_COMPAT: ${{ matrix.arch }}
        run: |
          export SURFER_PLATFORM="darwin"
          if test "${{ matrix.arch }}" = "x86_64"; then
            export ZEN_DISABLE_LTO=1
          fi
          sh .github/workflows/src/release-build.sh

      - name: Rebuild Zen if failed
        if: failure()
        run: |
          export SURFER_PLATFORM="darwin"
          sh .github/workflows/src/release-build.sh

      - name: Import APPLE DEVELOPER ID CERTIFICATE for .app
        uses: Apple-Actions/import-codesign-certs@v3
        with:
          p12-file-base64: ${{ secrets.macOS_CERTIFICATES_P12_For_App_BASE64 }}
          p12-password: ${{ secrets.macOS_CERTIFICATES_P12_PASSWORD }}

      - name: Package
        env:
          SURFER_COMPAT: ${{ matrix.arch }}
        run: |
          export SURFER_PLATFORM="darwin"
          export MACOS_APPLE_DEVELOPER_ID="${{ secrets.macOS_AppleDeveloperId }}"
          pnpm package

      - name: Rename artifacts
        run: |
          mv ./dist/output.mar macos-${{ matrix.arch }}.mar

      - name: Sign .dmg
        run: |
          set -ex
          hdiutil convert ./dist/*.dmg -format UDZO -imagekey zlib-level=9 -o zen.macos-${{ matrix.arch }}.dmg
          xattr -cr zen.macos-${{ matrix.arch }}.dmg
          codesign -s "${{ secrets.macOS_AppleDeveloperId }}" zen.macos-${{ matrix.arch }}.dmg
          xcrun notarytool submit "zen.macos-${{ matrix.arch }}.dmg" \
            --apple-id "${{ secrets.macOS_AppleAccountId }}" \
            --team-id "${{ secrets.macOS_AppleDeveloperIdTeamId }}" \
            --password "${{ secrets.macOS_AppleDeveloperIdPassword }}" \
            --wait
          xcrun stapler staple "zen.macos-${{ matrix.arch }}.dmg"

      - name: Sign .dmg again if failed
        if: failure()
        run: |
          set -ex
          hdiutil convert ./dist/*.dmg -format UDZO -imagekey zlib-level=9 -o zen.macos-${{ matrix.arch }}.dmg
          xattr -cr zen.macos-${{ matrix.arch }}.dmg
          codesign -s "${{ secrets.macOS_AppleDeveloperId }}" zen.macos-${{ matrix.arch }}.dmg
          xcrun notarytool submit "zen.macos-${{ matrix.arch }}.dmg" \
            --apple-id "${{ secrets.macOS_AppleAccountId }}" \
            --team-id "${{ secrets.macOS_AppleDeveloperIdTeamId }}" \
            --password "${{ secrets.macOS_AppleDeveloperIdPassword }}" \
            --wait
          xcrun stapler staple "zen.macos-${{ matrix.arch }}.dmg"

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          retention-days: 5
          name: zen.macos-${{ matrix.arch }}.dmg
          path: ./zen.macos-${{ matrix.arch }}.dmg

      - name: Upload build artifact (.mar)
        uses: actions/upload-artifact@v4
        with:
          retention-days: 5
          name: macos-${{ matrix.arch }}.mar
          path: ./macos-${{ matrix.arch }}.mar

      - name: Upload build artifact (update manifests)
        uses: actions/upload-artifact@v4
        with:
          retention-days: 5
          name: macos_update_manifest_${{ matrix.arch }}
          path: ./dist/update
